$sea-blue: #51f2d3;
$light-blue: #caf0f8;
$pure-white: #fff;
$blue: #90e0ef;
$dark-blue: #03045e;
$main-color: #00b4d8;
$lime: #20eaab;
$secondary-color: #0077b6;
$yellow: #f9a620;
$blue-gradient: linear-gradient(45deg, rgba(0, 118, 182, .95), rgba(0, 180, 216, .75));