$sea-blue: #51f2d3;
$light-blue: #caf0f8;
$pure-white: #fff;
$blue: #90e0ef;
$dark-blue: #03045e;
$main-color: #00b4d8;
$secondary-color: #0077b6;
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.6), rgba(42, 10, 184, 0.4));