@use './_colors' as *;
@use './_components' as *;


*, *::after, *::before {
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section {
    scroll-margin-top: -40px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.accent__color {
    display: inline-block;
    position: relative;
    color: $sea-blue;
    text-transform: lowercase;
    font-weight: 200;
    letter-spacing: 2px;

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $pure-white;
    }
}

.header {
    height: 85vh;
    padding: 2em;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $blue-gradient, url('../img/iStock-1409308615.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 0;


        &__bg-icon {
            display: none;
            position: absolute;
            z-index: -1;
                &--left {
                    top:10%;
                    left: -100px;
                    width: 20%;
                    opacity: 0.22;
                }
                &--right {
                    bottom: 10%;
                    right: 30%;
                    width: 7%;
                    opacity: 0.15;
                }
                &--top {
                    top: -70px;
                    width: 10%;
                    right: 5%;
                    opacity: 0.4;
                }
                &--middle {
                    top: 15%;
                    width: 3%;
                    right: 55%;
                    opacity: 0.1;
                }

        }

        &__title {
            text-align: center;
            font-size: 4rem;
            color:$pure-white;
            text-shadow: 2px 3px 5px #2e2e2e2e;
            
          

            
        }
        &__btn { 
            min-width: fit-content;
            position: relative;
            margin: 3em 0 4em;
            padding: 1em;
            background: none;
            border: 2px solid $light-blue;
            color: $light-blue;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 1.2rem;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            transition: color 0.3s, background 0.3s, border 0.3s, transform .1s;
            cursor: pointer;

            &:active {
                transform: scale(.95);
            }
                &:hover {
                    background: $lime;
                    color: $secondary-color;
                    border: 2px solid transparent;

                   
                }
                &::after, &::before {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    opacity: 0;
                    transition: border 0.2s, opacity 0.1s, transform 0.2s;
                }

                &::after {
                    left: 0;
                    top: 0;
                    border-top: 2px solid transparent;
                    border-left: 2px solid transparent;
                }
                &::before {
                    right: 0;
                    bottom: 0;
                    border-right:  2px solid transparent;
                    border-bottom: 2px solid transparent;
                }
                &:hover::before {
                    border-right:  2px solid $lime;
                    border-bottom:  2px solid $lime;
                    transform: translate(8px, 8px);
                    opacity: 1;

                }
                &:hover::after {
                    border-top: 2px solid $lime;
                    border-left: 2px solid $lime;
                    transform: translate(-8px, -8px);
                    opacity: 1;
                }
        }

}


// NAWIGACJA============================================

.nav {
    &__link {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 4em 0;
        text-decoration: none;
        box-shadow: 5px 5px 10px #2e2e2e18;
        transition: background 0.3s;
        z-index: 0;
        transition: transform .3s;

        &:hover {
            transform: scale(.95);
        }
        &:active {
            transform: scale(.90);
        }

    }
    &__link-icon {
        display: none;
    }
    &__link-body {
        padding: 2em;
        width: 100%;
        height: 100%;
    }
    &__img {
        display: block;
        font-style: italic;
        width: 100%;
        height: 40%;
        max-height: 250px;
        object-fit: cover;
        object-position: center;
    }
    &__link-title {
        margin: 1em 0;
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: #2c2b2b;
        font-weight: 600;
        transition: color 0.3s;

            &:hover {
                color: #27d29c;
            }
    }
    &__link-text {
        color: #333;
        font-size: 1.4rem;
        line-height: 25px;
        text-align: left;
        font-weight: 450;
        
    }
}

// HERO-SECTION==========================

.hero-section {
   position: relative;
    background: $blue-gradient, url('../img/iStock-2104778839.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    &.section-padding {
        padding: 10em 2em;
    }

    &__title {
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        margin: 0 0 2em;
        color: $pure-white;
        line-height: 25px;
    }

}

// ARTICLE=============================================


.article__list {
    padding: 2em 2em 1em;
    &-item {
        font-size: 1.4rem;
        line-height: 24px;
        font-weight: 500;
        margin: 0.3em 0;

        a {text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        }

    }
}


.article__first {
    width: min(1100px, 100%);
    margin: 0 auto;
    &-img {
        width: 100%;
    }
    &-title {
        font-size: 2.2rem;
        font-weight: 700;
        margin-block-start: 2em;

    }
    &-text {
        font-size: 1.4rem;
        margin: 2em 0 0.5em;
        line-height: 24px;
        font-weight: 500;

    }



}

// QUIZ1-SECTION=====

.quiz-section {
    position: relative;
    &__title {
        text-align: center;
        font-size: 4rem;

    }
    &__box {
        width: min(1100px, 100%);
        margin: 0 auto;
        position: relative;
        padding: 5em 2em;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        background-color: #caf0f85b;

        .overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(255,255,255,0.4);
            backdrop-filter: blur(3px);
            &.active {
                display: block;
            }
        }   
    }
    &__answer-box {
        margin: 3em 0 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;


    }
    &__question {
        text-align: left;
        color: #1bd298 ;
        font-size: 2rem;
        margin: 3em 0 1em;
    }
    &__input[type='radio'] {
        display: none;

    }

    &__btn {
        display: block;
        position: relative;
        margin: 2em auto 0;
        padding: 0.8em 1.6em;
        width: 80%;
        max-width: 400px;
        background: none;
        border: 2px solid $lime;
        font-size: 1.4rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: capitalize;
        transition: color .3s, background-color .3s, transform .3s;

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $lime;
            color: $pure-white;
        }
        
    }
    label {
        min-width: fit-content;
        position: relative;
        display:inline-flex;
        align-items: center;
        color: #000 ;
        font-size: 1.5rem;
        text-align: left;
        cursor: pointer;
        border: 2px solid $lime;
        padding: 0.5em;
        gap: 1.5em;
        font-weight: 500;
        transition: transform 0.3s;

        

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            aspect-ratio: 1;
            border: 2px solid $lime;
            

        }

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $lime;
            color: $pure-white;

            
        }
        &:hover::before {
            border: 2px solid $pure-white;
        }



    }
    &__input[type='radio']:checked + label::before {
        background-color: $lime;
    }
   
}

.warning-modal {
    display: none;
    width: 80%;
    max-width: 600px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;

      &.active {
        padding: 5em;
        display: block;
      }
}
.warning-info {
    font-size: 2rem;
}
.warning-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.3em;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
    }
}
.modal {
    width: 80%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 600px;
    align-items: center;
    padding: 2em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;
    &.active {
        display: flex;
    }

    .score-info{
        text-align: center;
        padding: 0.3em;
        margin-block-end: 3em;
        width: 150px;
        height: 150px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lime;
        border-radius: 50%;
        color: $pure-white;


        .score-paragraf{
            font-size: 1.2rem;
        }
        
        &__score {
            font-size: 4rem;
            margin: 0.3em 0 0.6em;
        }
    }

    .closeModal {
        width: 60%;
        padding: 1em 2em;
        border: 2px solid $lime;
        background: none;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 1px;
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        cursor: pointer;
        

        &:hover {
            background-color: $lime;
            color: $pure-white;
        }

        &:active {
            transform: scale(0.9);

        }
    }

}
// QUIZ-TWO SECTION =================================================

.quiz-section1 {
    position: relative;
    &__title {
        text-align: center;
        font-size: 4rem;

    }
    &__box {
        width: min(1100px, 100%);
        margin: 0 auto;
        position: relative;
        padding: 5em 2em;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        background-color: #20eaaa1a;

        .overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(255,255,255,0.4);
            backdrop-filter: blur(3px);
            &.active {
                display: block;
            }
        }   
    }
    &__answer-box {
        margin: 3em 0 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;


    }
    &__question {
        text-align: left;
        color: $secondary-color ;
        font-size: 2rem;
        margin: 3em 0 1em;
    }
    &__input[type='radio'] {
        display: none;

    }

    &__btn {
        display: block;
        position: relative;
        margin: 2em auto 0;
        padding: 0.8em 1.6em;
        width: 80%;
        max-width: 400px;
        background: none;
        border: 2px solid $secondary-color;
        font-size: 1.4rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: capitalize;
        transition: color .3s, background-color .3s, transform .3s;

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $secondary-color;
            color: $pure-white;
        }
        
    }
    label {
        min-width: fit-content;
        position: relative;
        display:inline-flex;
        align-items: center;
        color: #000 ;
        font-size: 1.5rem;
        text-align: left;
        cursor: pointer;
        border: 2px solid $secondary-color;
        padding: 0.5em;
        gap: 1.5em;
        font-weight: 500;
        transition: transform 0.3s;

        

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            aspect-ratio: 1;
            border: 2px solid $secondary-color;
            

        }

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $secondary-color;
            color: $pure-white;

            
        }
        &:hover::before {
            border: 2px solid $pure-white;
        }



    }
    &__input[type='radio']:checked + label::before {
        background-color: $secondary-color;
    }
   
}

.warning-modal1 {
    display: none;
    width: 80%;
    max-width: 600px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;

      &.active {
        padding: 5em;
        display: block;
      }
}
.warning-info1 {
    font-size: 2rem;
}
.warning-close-btn1 {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.3em;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
    }
}
.modal1 {
    width: 80%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 600px;
    align-items: center;
    padding: 2em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;
    &.active {
        display: flex;
    }

    .score-info1 {
        text-align: center;
        padding: 0.3em;
        margin-block-end: 3em;
        width: 150px;
        height: 150px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 50%;
        color: $pure-white;


        .score-paragraf1{
            font-size: 1.2rem;
        }
        
        &__score {
            font-size: 4rem;
            margin: 0.3em 0 0.6em;
        }
    }

    .closeModal1 {
        width: 60%;
        padding: 1em 2em;
        border: 2px solid $secondary-color;
        background: none;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 1px;
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        cursor: pointer;
        

        &:hover {
            background-color: $secondary-color;
            color: $pure-white;
        }

        &:active {
            transform: scale(0.9);

        }
    }

}

// FORM SECTION=================================





.form-section {
    position: relative;
    &__title {
        text-align: center;
        font-size: 4rem;

    }
    &__box {
        width: min(1100px, 100%);
        margin: 0 auto;
        position: relative;
        padding: 5em 2em;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        background-color: #caf0f85b;

        .overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(255,255,255,0.4);
            backdrop-filter: blur(3px);
            &.active {
                display: block;
            }
        }   
    }
    &__answer-box {
        margin: 3em 0 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;


    }
    &__question {
        text-align: left;
        color: #1bd298 ;
        font-size: 2rem;
        margin: 3em 0 1em;
    }
    &__input[type='radio'] {
        display: none;

    }

    &__btn {
        display: block;
        position: relative;
        margin: 2em auto 0;
        padding: 0.8em 1.6em;
        width: 80%;
        max-width: 400px;
        background: none;
        border: 2px solid $lime;
        font-size: 1.4rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: capitalize;
        transition: color .3s, background-color .3s, transform .3s;

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $lime;
            color: $pure-white;
        }
        
    }
    label {
        min-width: fit-content;
        position: relative;
        display:inline-flex;
        align-items: center;
        color: #000 ;
        font-size: 1.5rem;
        text-align: left;
        cursor: pointer;
        border: 2px solid $lime;
        padding: 0.5em;
        gap: 1.5em;
        font-weight: 500;
        transition: transform 0.3s;

        

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            aspect-ratio: 1;
            border: 2px solid $lime;
            

        }

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $lime;
            color: $pure-white;

            
        }
        &:hover::before {
            border: 2px solid $pure-white;
        }



    }
    &__input[type='radio']:checked + label::before {
        background-color: $lime;
    }
   
}

.form-warning-modal {
    display: none;
    width: 80%;
    max-width: 600px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;

      &.active {
        padding: 5em;
        display: block;
      }
}
.form-warning-info {
    font-size: 2rem;
}
.form-warning-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.3em;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
    }
}
.form-modal {
    width: 80%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 600px;
    align-items: center;
    padding: 2em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;
    &.active {
        display: flex;
    }

    .form-score-info{
        text-align: center;
        padding: 0.3em;
        margin-block-end: 3em;
        width: 150px;
        height: 150px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lime;
        border-radius: 50%;
        color: $pure-white;


        .form-score-paragraf{
            font-size: 1.2rem;
        }
        
        &__score {
            font-size: 2rem;
            margin: 0.3em 0 1em;
            line-height: 25px;
            letter-spacing: 1px;
            
        }
    }

    .form-closeModal {
        width: 60%;
        padding: 1em 2em;
        border: 2px solid $lime;
        background: none;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 1px;
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        cursor: pointer;
        

        &:hover {
            background-color: $lime;
            color: $pure-white;
        }

        &:active {
            transform: scale(0.9);

        }
    }

}

// QUIZ3 SECTION=====================================



.quiz-section3 {
    position: relative;
    &__title {
        text-align: center;
        font-size: 4rem;

    }
    &__box {
        width: min(1100px, 100%);
        margin: 0 auto;
        position: relative;
        padding: 5em 2em;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        background-color: #caf0f85b;

        .overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(255,255,255,0.4);
            backdrop-filter: blur(3px);
            &.active {
                display: block;
            }
        }   
    }
    &__answer-box {
        margin: 3em 0 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;


    }
    &__question {
        text-align: left;
        color: #000 ;
        font-size: 2rem;
        margin: 3em 0 1em;
    }
    &__input[type='radio'] {
        display: none;

    }

    &__btn {
        display: block;
        position: relative;
        margin: 2em auto 0;
        padding: 0.8em 1.6em;
        width: 80%;
        max-width: 400px;
        background: none;
        border: 2px solid $yellow;
        font-size: 1.4rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: capitalize;
        transition: color .3s, background-color .3s, transform .3s;

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $yellow;
            color: $pure-white;
        }
        
    }
    label {
        min-width: fit-content;
        position: relative;
        display:inline-flex;
        align-items: center;
        color: #000 ;
        font-size: 1.5rem;
        text-align: left;
        cursor: pointer;
        border: 2px solid $yellow;
        padding: 0.5em;
        gap: 1.5em;
        font-weight: 500;
        transition: transform 0.3s;

        

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            aspect-ratio: 1;
            border: 2px solid $yellow;
            

        }

        &:active {
            transform: scale(0.90);

        }
        &:hover {
            background-color: $yellow;
            color: $pure-white;

            
        }
        &:hover::before {
            border: 2px solid $pure-white;
        }



    }
    &__input[type='radio']:checked + label::before {
        background-color: $yellow;
    }
   
}

.warning-modal3 {
    display: none;
    width: 80%;
    max-width: 600px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;

      &.active {
        padding: 5em;
        display: block;
      }
}
.warning-info3 {
    font-size: 2rem;
}
.warning-close-btn3 {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.3em;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
    }
}
.modal3 {
    width: 80%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 600px;
    align-items: center;
    padding: 2em;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px #2e2e2e2e;
    z-index: 1000;
    &.active {
        display: flex;
    }

    .score-info3{
        text-align: center;
        padding: 0.3em;
        margin-block-end: 3em;
        width: 150px;
        height: 150px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $yellow;
        border-radius: 50%;
        color: $pure-white;


        .score-paragraf3{
            font-size: 1.2rem;
        }
        
        &__score {
            font-size: 4rem;
            margin: 0.3em 0 0.6em;
        }
    }

    .closeModal3 {
        width: 60%;
        padding: 1em 2em;
        border: 2px solid $yellow;
        background: none;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 1px;
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        cursor: pointer;
        

        &:hover {
            background-color: $yellow;
            color: $pure-white;
        }

        &:active {
            transform: scale(0.9);

        }
    }

}


// FOOTER====================================

.footer {
    text-align: center;
    padding: 1em;
    font-size: 1.3rem;
    color: $pure-white;
    background-color: rgba(0,0,0,0.5);
}









// ================ media ===================
@media(576px <= width) {
    .header {
        &__title{
            font-size: 5rem;
        }
        &__btn{
            font-size: 1.4rem;
        }     
    }
    .nav {

        
        &__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__link {
            width: 40%;
            margin: 2em;
            
            
        }
        
    }
}

@media(768px <= width) {
    .article__first {
        &-title {
            font-size: 2.5rem;
        }
        &-text {
            font-size: 1.7rem;
        }
        
    }
    .article__list-item {
        font-size: 1.7rem;
    }
}


@media(992px <= width) {

    .section {
        scroll-margin-top: -170px;
    }
    
    .header {
        &__title{
            font-size: 7rem;
        }
        &__btn{
            font-size: 1.7rem;
        }     

         &__bg-icon {
                display: block;
                    &--left {
                        top:0;
                        left: -130px;
                    }
         
    
            }
    
        
    }
    .nav {

        &__box {
            justify-content: space-between;
        }


        &__link {
            width: 30%;
            margin: 0;
        }
        &__link-title {
            font-size: 2.3rem;
        }
        &__link-text {
            font-size: 1.8rem;
            line-height: 28px;
        }
        &__link-body {
            height: 350px;
        }
        &__link-icon {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width:55%;
            opacity: 0.1;
            z-index: -1;
        }
    }
    .hero-section {
        &.section-padding {
            padding: 13em 2em;
        }

        
    }
    .article__first {
        &-title {
            font-size: 3rem;
        }
        &-text {
            font-size: 2rem;
            line-height: 30px;
        }
        
    }
    .article__list-item {
        font-size: 2rem;
    }
    .quiz-section {
        &__title {
            font-size: 5rem;
        }
        &__question {
            font-size: 2.5rem;
        }
        label {
            font-size: 1.7rem;
        }
       
    }
    .footer {
        padding: 2em;
    }
}


@media(1100px <= width) {
    .nav {
        &__link-body {
            padding: 3em;
        }
    }

}


