@use './_colors' as *;
@use './_components' as *;


*, *::after, *::before {
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.accent__color {
    position: relative;
    color: $sea-blue;
    text-transform: lowercase;
    font-weight: 200;
    letter-spacing: 2px;

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $pure-white;
    }
}

.header {
    height: 75vh;
    padding: 2em;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $blue-gradient, url('../img/ca_1600px_mikroplastik-1600x746.jpg');
    background-position: center;
    background-size: cover;

        &__title {
            font-size: 4rem;
            color:$pure-white;
            text-shadow: 2px 3px 5px #2e2e2e2e;
            
          

            
        }
        &__btn { 
            min-width: fit-content;
            position: relative;
            margin: 3em 0 4em;
            padding: 1em;
            background: none;
            border: 2px solid $light-blue;
            color: $light-blue;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 1.2rem;
            text-transform: uppercase;
            transition: color 0.3s, background 0.3s, border 0.3s;

            cursor: pointer;

                &:hover {
                    background: $lime;
                    color: $secondary-color;
                    border: 2px solid transparent;

                   
                }
                &::after, &::before {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    opacity: 0;
                    transition: border 0.2s, opacity 0.1s, transform 0.2s;
                }

                &::after {
                    left: 0;
                    top: 0;
                    border-top: 2px solid transparent;
                    border-left: 2px solid transparent;
                }
                &::before {
                    right: 0;
                    bottom: 0;
                    border-right:  2px solid transparent;
                    border-bottom: 2px solid transparent;
                }
                &:hover::before {
                    border-right:  2px solid $lime;
                    border-bottom:  2px solid $lime;
                    transform: translate(8px, 8px);
                    opacity: 1;

                }
                &:hover::after {
                    border-top: 2px solid $lime;
                    border-left: 2px solid $lime;
                    transform: translate(-8px, -8px);
                    opacity: 1;
                }
        }

}
















































// ================ media ===================
@media(576px <= width) {
    .header {
        &__title{
            font-size: 5rem;
        }
        &__btn{
            font-size: 1.4rem;
        }     
    }
}
